<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TaiKang.permission.system.dao.AuthorizationUserMapper">
    <delete id="deleteUserRole" parameterType="com.TaiKang.permission.system.bean.TempUserRole">
       DELETE
        FROM
            temp_usr_role
        WHERE
            role_id = #{roleId}
        AND user_id = #{userId}
    </delete>

    <insert id="insertUserAuthorization" parameterType="com.TaiKang.permission.system.bean.TempUserRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO temp_usr_role (
            role_id,
            user_id
            )
        VALUES
            (
            #{roleId},
            #{userId}
            )
    </insert>



</mapper>
