<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>全部用户</title>
    <script src="/static/js/vue.min.js"></script>
</head>
<body>
<ol>
<li>
    <table>
        <tr>
            <th>账号</th>
            <th>密码</th>
            <th>真实姓名</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>状态</th>
            <th>盐</th>
            <th>备注</th>
            <th>参数</th>
            <th>操作</th>
        </tr>
        <tr th:each = "user,userStat:${userList}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.userPwd}"></td>
            <td th:text="${user.trueName}"></td>
            <td th:text="${user.mobile}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.status}"></td>
            <td th:text="${user.salt}"></td>
            <td th:text="${user.remark}"></td>
            <td th:text="${user.perms}"></td>
            <td><a href="/userInfo/userDel?"th:text=""${user.userId}">删除</a>/<a href="">修改</a></td>

        </tr>
    </table>

</li>

</ol>
</body>
</html>

<script>


</script>